Repository eigent-ai/eigent, pull requests merged in 2025-09, with the labels that each got.

#223 feat: add comprehensive unit tests (#151)
  .gitignore
  backend/app/controller/model_controller.py
  backend/app/service/chat_service.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/unit/controller/test_chat_controller.py
  backend/tests/unit/controller/test_model_controller.py
  backend/tests/unit/controller/test_task_controller.py
  backend/tests/unit/controller/test_tool_controller.py
  backend/tests/unit/service/test_chat_service.py
  backend/tests/unit/service/test_task.py
  backend/tests/unit/utils/test_agent.py
  backend/tests/unit/utils/test_single_agent_worker.py
  backend/tests/unit/utils/test_workforce.py
  backend/uv.lock
  electron/main/index.ts
  package.json
  test/e2e.spec.ts
  test/setup.ts
  test/unit/basic.test.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/components/SearchInput.test.tsx
  test/unit/components/Terminal.test.tsx
  test/unit/electron/main/fileReader.test.ts
  test/unit/electron/main/index.test.ts
  test/unit/utils.test.ts
  test/vitest-jest-dom.d.ts
  vitest.config.ts
Labels: enhancement

#365 enhance: Add Worker, add simple tooltip and fix empty message bug
  src/components/AddWorker/IntegrationList.tsx
  src/components/AddWorker/ToolSelect.tsx
  src/components/AddWorker/index.tsx
  src/components/ChatBox/BottomInput.tsx
  src/components/ui/tooltip.tsx
  src/pages/Setting/MCPMarket.tsx
  src/pages/Setting/components/MCPListItem.tsx
  src/store/authStore.ts
Labels: enhancement, frontend

#397 Feature：Enhance backend model validate response
  backend/app/component/error_format.py
  backend/app/controller/model_controller.py
  backend/tests/unit/controller/test_model_controller.py
Labels: backend

#405 Optimize model validate logic: Remove the preceding model name check
  backend/app/controller/model_controller.py
Labels: backend
